.back-button{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.back-button-prop{
    padding:10px 8px;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: max-content;
}
.back-button .back-button-prop:hover{
    background-color: var(--gray200);
}
.back-button .back-button-name{
    margin-bottom: 0px;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: var(--gray800);
    margin-left:3px;
}
.kruzee-logo{
    flex-grow: 8;
}
.no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.steps-border{
    padding-bottom: 17px;
    border-bottom:1px solid var(--gray200);
    margin-bottom:-12px;
}
.steps{
    display: flex;
    align-items: center;
    margin-top:12px;
}
.steps .step-name{
    margin-bottom: 0px;
    font-family: 'HKGrotesk-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-feature-settings: 'liga' off;
    margin-right:2px;
}
.complete{
    display: block;
}
.in-progress{
    display: none;
}
.loader-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loader-mini{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0px;
}
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  
}
.four-o-four-text{
    margin-left: 16px;
    font-family: 'HKGrotesk-Regular';
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: #222222;
    margin-bottom: 0px;
    width: 100%;
}
